header {
  background-image: url(../assets/home1.jpg);
  background-size: cover;
  background-position: center center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
}

.center {
  transform: perspective(1000px) translate(-50%, -50%);
  transform: skewY(15deg);
  transition: 0.5s;
}

.center:hover {
  transform: perspective(1000px) translate(-50%, -50%);
  transform: skewY(0deg);
}

.center h1 span {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 2.1em;
  color: #fff;
  transform-style: preserve-3d;
  transition: 0.8s;
}
.center h1 span:nth-child(1) {
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
}

.center h1 span:nth-child(2) {
  color: #ffd89b;
  transform: translate(-50%, -50%) skewX(-60deg);
  left: -38px;
  clip-path: polygon(0 45%, 100% 45%, 100% 55%, 0 55%);
}

.center h1 span:nth-child(3) {
  transform: translate(-50%, -50%) skewY(0deg);
  left: -76px;
  clip-path: polygon(0 55%, 100% 55%, 100% 100%, 0 100%);
}

.center:hover h1 span:nth-child(2),
.center:hover h1 span:nth-child(3) {
  transform: translate(-50%, -50%) skewX(0deg);
  left: 0;
  color: #fff;
}

/* Section Part */

section {
  display: flex;
  background: linear-gradient(to bottom, #ffefba, #ffffff);
  justify-content: space-between;
  align-items: center;
}

.home-video-background {
  width: 30vw;
  object-fit: cover;
  border: 1px solid #ffd89b;
  padding: 1em;
  margin-top: 5em;
  margin-left: 5em;
}

.home-paragraph {
  max-width: 50vw;
  font-size: 1em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -3px;
  transition: 700ms ease;
  margin-bottom: 0.8rem;
  color: #19547b;
  outline: none;
  text-align: center;
  padding: 4em;
}

.home-paragraph:hover {
  letter-spacing: 0.5px;
}

/* Main */

.main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 2em;
  background: linear-gradient(to top, #ffefba, #ffffff);
}

.main h1 {
  margin-top: 2em;
}

.main p {
  width: 50vw;
  text-align: center;
}

.audio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

.audio {
  width: 15em;
  border-radius: 1em;
  box-shadow: 0px 10px 8px #99999961;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0.5em;
  height: fit-content;
  cursor: pointer;
  text-align: center;
  transition: 0.5s ease-in-out;
}

.audio h4 {
  margin: 0.5em 5%;
}

.audio:hover {
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
}

.audio-player audio {
  width: 100%;
  max-width: 300px;
  background-color: #f5f5f5;
  outline: none;
  display: block;
  margin: auto;
}

.audio h4 {
  font-weight: 500;
}

audio::-webkit-media-controls-panel {
  background-color: rgba(255, 255, 255, 0.8);
}

@media all and (max-width: 480px) {
  .home-text {
    font-size: 1.5em;
  }
  .center {
    transform: skewY(0deg);
  }

  .center h1 span:nth-child(2),
  .center h1 span:nth-child(3) {
    transform: translate(-50%, -50%) skewX(0deg);
    left: 0;
    color: #fff;
  }

  /* SECTION */

  section {
    flex-direction: column;
    background: linear-gradient(to bottom, #ffefba, #ffffff);
  }

  .home-video-background {
    width: 100vw;
    object-fit: cover;
    border: none;
    padding: 0;
    margin: 0;
  }

  .home-paragraph {
    max-width: 90vw;
    font-size: 1em;
    color: white;
    text-transform: none;
    letter-spacing: normal;
    transition: none;
    margin-bottom: 0;
    color: #19547b;
    outline: none;
    text-align: left;
    margin-top: 1.5em;
    padding: 0.5em;
  }

  .home-paragraph:hover {
    letter-spacing: normal;
  }

  /* MAIN */

  .main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 2em;
    background: linear-gradient(to top, #ffefba, #ffffff);
  }

  .main h1 {
    margin-top: 2em;
  }

  .main p {
    width: 90vw;
    text-align: left;
    padding: 0.5em;
  }

  .audio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 3em;
  }

  .audio {
    margin: 1.5em;
  }

  .audio h4 {
    margin: 0.5em 5%;
  }

  .audio:hover {
    transform: none;
    transition: none;
  }

  .audio-player audio {
    width: 100%;
    max-width: 300px;
    background-color: #f5f5f5;
    outline: none;
    display: block;
    margin: auto;
  }

  .audio h4 {
    font-weight: 500;
  }

  audio::-webkit-media-controls-panel {
    background-color: rgba(255, 255, 255, 0.8);
  }
}

/* Tablet Design */

@media all and (min-width: 481px) and (max-width: 768px) {
  .home-text {
    font-size: 1.5em;
  }
  .center {
    transform: skewY(0deg);
  }

  .center h1 span:nth-child(2),
  .center h1 span:nth-child(3) {
    transform: translate(-50%, -50%) skewX(0deg);
    left: 0;
    color: #fff;
  }

  /* SECTION */

  section {
    flex-direction: column;
    background: linear-gradient(to bottom, #ffefba, #ffffff);
  }

  .home-video-background {
    width: 100vw;
    object-fit: cover;
    border: none;
    padding: 0;
    margin: 0;
  }

  .home-paragraph {
    max-width: 90vw;
    font-size: 1em;
    color: white;
    text-transform: none;
    letter-spacing: normal;
    transition: none;
    margin-bottom: 0;
    color: #19547b;
    outline: none;
    text-align: left;
    margin-top: 1.5em;
    padding: 0.5em;
  }

  .home-paragraph:hover {
    letter-spacing: normal;
  }

  /* MAIN */

  .main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 2em;
    background: linear-gradient(to top, #ffefba, #ffffff);
  }

  .main h1 {
    margin-top: 2em;
  }

  .main p {
    width: 90vw;
    text-align: left;
    padding: 0.5em;
  }

  .audio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 3em;
  }

  .audio {
    margin: 1.5em;
  }

  .audio h4 {
    margin: 0.5em 5%;
  }

  .audio:hover {
    transform: none;
    transition: none;
  }

  .audio-player audio {
    width: 100%;
    max-width: 300px;
    background-color: #f5f5f5;
    outline: none;
    display: block;
    margin: auto;
  }

  .audio h4 {
    font-weight: 500;
  }

  audio::-webkit-media-controls-panel {
    background-color: rgba(255, 255, 255, 0.8);
  }
}
